%p#notice= notice

<% for attribute in attributes -%>
%p
  %b <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= link_to 'Редактировать', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
\|
= link_to 'Назад', <%= index_helper %>_path
